USE [Domain2]
GO
/****** Object:  StoredProcedure [dbo].[GetPersonsFiltered]    Script Date: 09.09.2025 9:43:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER     PROCEDURE [dbo].[GetPersonsFiltered]
    @name nvarchar(50), 
	@post int,
	@dep int,
	@status int
AS
	With CTE As
	(SELECT *, (CONCAT_WS(' ', second_name, CONCAT_WS(
	'.', 
	LEFT(first_name, 1), LEFT(first_name, 1)))) AS full_name  FROM [dbo].People  P )
	SELECT * FROM CTE P 
	WHERE P.full_name LIKE '%' + @name + '%'
		AND (p.status_id = ISNULL(@status, p.status_id)
		AND p.dep_id = ISNULL(@dep, p.dep_id)
		AND p.post_id = ISNULL(@post, p.post_id))
	ORDER BY P.full_name
    
